[Unit]
Description=Secrets Broker administrator Unix socket
After=tailscaled.service

[Socket]
ListenStream=/run/secrets-broker-admin.sock
SocketUser=root
SocketGroup=root
SocketMode=0600
Backlog=8
RemoveOnStop=yes
Service=secrets-broker-admin-web.service

[Install]
WantedBy=sockets.target
